*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
    width: 40%;
}
.container-cart-icon{
    display: flex;
    justify-content: space-evenly;
}

#car-buy{
    position: absolute;
    width: 40px;
    right: 10px;
    color: #fff;
 

    display: flex;
    justify-content: center;
    align-items: center;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 7px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}



#container-items{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}
.top{
    display: flex;
    flex-direction: column;
    border:2px solid rgb(23, 117, 117);
    height: 40%;
}
.top img{
    align-self: center;
}
.cart{
    
    width: 30%;  
    border:2px solid rgb(23, 117, 117);
}
.cart img{
    margin-top: 5%;
    width: 60%;
    background-attachment: fixed;
    height: 70%;
    
}
.cart h3{
    text-align: center;
    font-size: 1.3rem;

}

#description{
    padding: 8px;
    height: 35%;
    

}


.cart button{
    text-align: center;
}




nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 117, 117);
    align-items: center;
    height: 4rem;

    
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;

}

nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav h3{
    font-size: 2rem;
    margin-left: 10%;
}
.identity{
    margin-left: 0.2rem;
    align-self: flex-start;
    position: absolute;
}

/*CARRITO*/
#modal {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
  
  }

.hidden-cart{
    display: none;
}
/*FORMULARIO*/
/* Agrega estos estilos a tu archivo de hojas de estilo CSS */

#productForm {
    position: absolute;  
    left: 40%;
     max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 8px 1px rgba(0, 0, 0, 0.1);
  }
  
  #productForm label {
    display: block;
    margin-bottom: 8px;
  }
  #productForm h2{
    text-align: center  ;
    margin-bottom: 10px;
  }
  
  #productForm input,
  #productForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  #productForm button {
    background-color:chocolate;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #productForm button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo adicional para mejorar la apariencia del contenedor de productos */
 
  
  .cart {
    width: 16%;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .cart img {
    max-width: 100%;
    border-radius: 4px;
  }
  
  .addToCartBtn {
    background-color: #28a745;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addToCartBtn:hover {
    background-color: #218838;
  }
  


  /*ACTULIZARRRRRRR*/

.updateProductForm{
    left: 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30rem;
    justify-content: space-around;
}
.updateProductForm h2{
    text-align: center;
}

#newName,#newStock,#newCategory,#newPrice,#productId,#newDescription{
    height: 30px;
    font-size: 1rem;
}
.updateProductForm button{
    
    font-size: 1.1rem;
    color: #ffffff;
    background-color:chocolate;
    height: 2.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}
.updateProductForm button:hover{
    background-color: #0056b3;
}