*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
   
}


#container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    display: flex;
    flex-direction: column;
    width: 15%;  
    border-radius: 30px;
    transition: width 0.5s, height 0.5s, transform 1s;
}
.cart:hover{
    transform: rotate(5deg);
    transition-delay: 0.0001ms;
    background-color: rgb(190, 197, 197);

}
.cart img{
    width: 60%;
    
}
.cart h3{
    text-align: center;
    font-size: 1.3rem;

}

#description{
    
    text-align: left;
    padding: 15px;
}

#category{
    padding-left: 15px;
}
#stock{
    padding-left: 15px;
}
#price{
    padding-left: 15px;
}


.addToCartBtn{
    padding: 10px;
    justify-content: end; 
}



nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 120, 7);
    align-items: center;
    height: 4rem;
    margin-bottom: 3rem;

    
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;

}

nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav h3{
    font-size: 2rem;
    margin-left: 10%;
}


/*CARRITO*/
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: right;
   
  }
  
  #modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    overflow-y: auto;
  }
  
  #close-modal {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #car {
    margin-top: 20px;
  }
  
  .item-car {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }